
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, ul, li {
	margin: 0.2em;
	padding: 0.2em;
}

body {
	font-family: Arial, sans-serif;
	background-color: #C1DBD9;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url('background.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body .login-container,
body .signup-container {
	background-color: #4FA8BA;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 50px;
	width: 50px;
}
.search-bar {
	margin-right: auto;
}

.right-items {
	display: flex;
	align-items: center;
}

.login-button, .signup-button, .search-bar {
	padding: 8px 16px;
	font-size: 14px;
	color: white;
	background-color: #5C6DDB;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-left: 10px;
}

.signup-button {
	background-color: #B286DB;
}

.login-button:hover, .signup-button:hover {
	background-color: #745CDB;
}

.image-container {
	position: relative;
	text-align: center;
	color: white;
}

.welcome-header {
	background-position: center;
	color: white;
	text-align: center;
	padding: 20px 20px;
}

body .centered-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
}

body header {
	color: white;
	padding: 200px 20px;
	background-color:#C1D5DB;
	text-align: center;
	font-size: 2.5rem;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 1.5s ease-out forwards;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body nav {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #333333;
	padding: 10px 20px;
	z-index: 1000;
	top: 40%;
	position: relative;
}

body nav ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

body nav li {
	margin: 0 15px;
	position: relative;
}

body nav a {
	text-decoration: none;
	color: #333333;
	padding: 8px 10px;
	transition: all 0.3s ease;
	position: relative;
}

body nav a:hover {
	color: #5C6DDB;
	background-color: #f0f0f0;
}

@media (max-width: 768px) {
	nav ul {
		padding-top: 10px;
	}

	nav li {
		display: block;
		margin: 10px 0;
	}
}

body main {
	position: relative;
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body .main {
	padding: 50px;
	text-align: center;
	margin-top: 400px;
}

body .side {
	-ms-flex: 20%;
	flex: 20%;
	padding: 20px;
}

body .row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media (max-width: 768px) {
	.row {
		grid-template-columns: 1fr; /* Full width on smaller screens */
	}
}

body .course-card {
	flex: 1 1 30%;
	margin: 10px;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	border-radius: 8px;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
	.course-card {
		flex-basis: 100%;
	}
}

body .course-card:hover {
	transform: translateY(-10px) scale(1.05);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


.course-card img {
	max-width: 100%;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

body .course-card h3 {
	margin: 15px 0;
	font-size: 24px;
	color: #333;
}

body .course-card p {
	color: #666;
}


@media (max-width: 768px) {
	.course-card {
		margin: 20px 10px;
	}
}

body .course-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	text-align: center;
}

body .course-list h3 {
	margin: 15px 0;
	font-size: 24px;
	color: #333;
}

body .go-to-course {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

body .go-to-course:hover {
	background-color: #005ba1;
}

.progress {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	text-align: center;
}

.message-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

.message-list h3 {
	font-size: 18px;
	color: #333;
	margin: 15px 0;
}

.student-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}
.student-list h3 {
	font-size: 18px;
	color: #333;
	margin: 15px 0;
}

.learn-more-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.learn-more-button:hover {
	background-color: #005ba1;
}

.edit-course, .create-course, .view-details {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

.edit-course:hover, .create-course:hover, .view-details:hover {
	background-color: #005ba1;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}


.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

@media screen and (max-width: 300px) {
	.prev, .next, .text {font-size: 11px}
}

body .content {
	flex: 1;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	position: fixed;
	padding: 20px;
	left: 0;
	bottom: 0;
	width: 100%;
}