* {
	box-sizing: border-box;
}

body, h1, h2, ul, li {
	margin: 0.2em;
	padding: 0.2em;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}

header {
	background-color: #007acc;
	color: white;
	text-align: center;
	padding: 20px;
}

nav {
	background-color: #333;
	color: white;
	padding: 10px;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline;
	margin-right: 20px;
}
nav li a {
	padding: 14px 16px;
}

nav li a:hover {
	background-color: #111;
}


nav a {
	text-decoration: none;
	color: white;
}

main {
	-ms-flex: 70%;
	flex: 70%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.main {
	-ms-flex: 80%;
	flex: 80%;
	max-width: 1200px;
	padding: 20px;
}

.side {
	-ms-flex: 20%;
	flex: 20%;
	background-color: #f1f1f1;
	padding: 20px;
	background: white;
}

.row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.course-card {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	text-align: center;
}

.course-card img {
	max-width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.course-card h3 {
	margin: 15px 0;
	font-size: 24px;
	color: #333;
}

.course-card p {
	color: #666;
}

.course-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	text-align: center;
}

.course-list h3 {
	margin: 15px 0;
	font-size: 24px;
	color: #333;
}

.go-to-course {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.go-to-course:hover {
	background-color: #005ba1;
}

.progress {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	text-align: center;
}

.message-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

.message-list h3 {
	font-size: 18px;
	color: #333;
	margin: 15px 0;
}

.student-list li {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}
.student-list h3 {
	font-size: 18px;
	color: #333;
	margin: 15px 0;
}

.learn-more-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.learn-more-button:hover {
	background-color: #005ba1;
}

.edit-course, .create-course, .view-details {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007acc;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

.edit-course:hover, .create-course:hover, .view-details:hover {
	background-color: #005ba1;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}
